/* Used for citations before and centered text blocks inside chapters in E-Books published by "Knaur eBook".
Used for centering those blocks again if the got left-aligned due to the style tweak "Justify most text". */

p.untertitel {
    text-align: center !important;
}

div.zwischentitel span {
    text-align: center !important;
}