/* Used for citations before and centered text blocks inside chapters in E-Books published by "Knaur eBook". */

div.einschub p.firstincontainer {
    text-align: center !important;
}

div.einschub1 p.firstincontainer {
    text-align: center !important;
}