/* Used for subtitles of chapters (e.g. when changing the narrative perspective) in E-Books published by "Knaur eBook". */

p.untertitel {
    text-align: center !important;
}

div.zwischentitel span {
    text-align: center !important;
}